@import "css/default.css";
@import "css/styles.css";
@import "css/responsive.css";
@import "css/simple-line-icons.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
